// Colors
$white: #fff;
$black: #000;

// Sizes
$base_font_size: 26px;
$base_line_height: 30px;
$content_size: 1350px;

// Fonts
$main_font: "Suisse Intl", Arial, sans-serif;
$title_font: "ZINC 2020", Arial, sans-serif;
