<header class="header">
	<div class="container">
		<div class="header__content">
			<a href="index.html" class="header__logo">
				<img src="img/general/logo.png" alt="Zinc" class="header__logo-img">
			</a>
			<div class="burger-menu">
				<span class="burger-menu__line"></span>
				<span class="burger-menu__line"></span>
				<span class="burger-menu__line"></span>
			</div>
		</div>
	</div>
	<div class="header-dropdown__menu dropdown-menu" style="background-image: url(img/general/dropdown_menu_bg.jpg);">
		<div class="container">
			<div class="dropdown-menu__content">
				<nav class="dropdown-menu__nav">
					<div class="dropdown-menu__block">
						<a href="" class="dropdown-menu__link">Corporate Events</a>
						<a href="" class="dropdown-menu__link">Weddings</a>
						<a href="" class="dropdown-menu__link">Private Events</a>
					</div>
					<div class="dropdown-menu__block">
						<a href="" class="dropdown-menu__link">About</a>
						<a href="" class="dropdown-menu__link">Gallery</a>
						<a href="" class="dropdown-menu__link">Food & Beverage</a>
					</div>
					<div class="dropdown-menu__block">
						<a href="" class="dropdown-menu__link-small">Contact</a>
						<a href="" class="dropdown-menu__link-small">FAQs</a>
						<a href="" class="dropdown-menu__link-small">Resources</a>
					</div>
				</nav>
				<div class="dropdown-menu__footer">
					<div class="dropdown-menu__social">
						<a href="" class="dropdown-menu__social-link">
							<img src="img/general/socials/Instagram_logo.png" alt="Instagram">
						</a>
						<a href="" class="dropdown-menu__social-link">
							<img src="img/general/socials/facebook_logo.png" alt="Facebook">
						</a>
						<a href="" class="dropdown-menu__social-link">
							<img src="img/general/socials/LinkedIn_Logo.png" alt="LinkedIn">
						</a>
						<a href="" class="dropdown-menu__social-link">
							<img src="img/general/socials/Pinterest_Logo.png" alt="Pinterest">
						</a>
						<a href="" class="dropdown-menu__social-link">
							<img src="img/general/socials/Youtube_Logo.png" alt="YouTube">
						</a>
					</div>
					<p class="dropdown-menu__text">An Epicure Venue</p>
				</div>
			</div>
		</div>
	</div>
</header>